@use "../../../scss";

.btn {
  @include scss.flex(row, center, center, nowrap);
  border: scss.$border-light;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  background-color: scss.$primary;
  color: scss.$font-secondary;
  box-shadow: scss.$shadow-light;
  transition: background-color 250ms;
  &:hover {
    background-color: scss.$tertiary;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: gray;
    opacity: 0.5;
  }
}
