@use "../../scss";

.container {
  @include scss.flex(column, center, flex-start, nowrap);
  gap: 0.3rem;
  padding: 0.7rem;
}

.textarea {
  border: none;
  outline: unset;
  width: 100%;
  max-width: 25rem;
  padding: 0.3rem 0.5rem;
  box-shadow: scss.$shadow;
  &:focus {
    outline: 1px solid scss.$secondary;
  }
}
