@use "../../../scss";

.select {
  @include scss.flex(column, center, center, nowrap);
  gap: 0.3rem;
  margin: 0.5rem 0;
  padding: 0.7rem;

  &__input {
    outline: none;
    width: 100%;
    max-width: 25rem;
    padding: 0.3rem;
    box-shadow: scss.$shadow-light;
    background-color: scss.$background;
  }

  &__option {
    padding: 1rem;
    margin: 1rem;
  }
}
