@use "../../scss";

.description {
  padding: 0.5rem 1rem;
  width: 100%;
  min-height: inherit;
  font-size: 0.9rem;
  color: scss.$font-secondary;

  &__name {
    font-size: 2rem;
    text-align: center;
    color: scss.$tertiary;
    padding: 0.5rem;
  }

  p {
    margin: 0.5rem 0;
  }
}
