@use "../../scss";

.nav-icon-btn {
  padding: 0.4rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

.nav-container {
  position: absolute;
  top: scss.$header-height;
  right: 0;
  left: 0;
  padding: 1rem 0;
  transform: translateY(calc(-100% - scss.$header-height));
  background-color: scss.$primary;
  transition: transform 250ms ease;
}

.show {
  transform: translateY(0);
}

.nav-list {
  @include scss.flex(column, flex-start, center, nowrap);
  gap: 1.5rem;
}

.nav-item {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: scss.$font-secondary;
  background-color: scss.$secondary;
}

.link {
  display: inline-block;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 350ms;

  &:hover {
    color: scss.$tertiary;
    letter-spacing: 5px;
  }
}

.active {
  color: scss.$tertiary;
  border-bottom: 3px solid scss.$tertiary;
}
