@use "../../scss";

.checkbox-container {
  @include scss.flex(row, center, center, nowrap);
  gap: 0.4rem;
}

.checkbox {
  cursor: pointer;
  accent-color: scss.$tertiary;
}

.label {
  cursor: pointer;
}
