@use "../../scss";

.toggle-container {
  position: relative;
}

.input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.label::before {
  content: "";
  width: 3rem;
  height: 1rem;
  margin-right: 0.4rem;
  box-shadow: scss.$shadow-light;
  border-radius: 0.75rem;
  background-color: #d3d3d3;
}

.label::after {
  position: absolute;
  content: "";
  left: 1px;
  width: 1.5rem;
  height: 0.9rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 3px #615d5d;
  background-color: scss.$background;
  transition: all 250ms ease;
}

.input:checked ~ .label::before {
  background-color: #4fbe79;
}

.input:checked ~ .label::after {
  left: calc(1.5rem - 1px);
}

.input:checked ~ .label::before,
.input:checked ~ .label::after {
  animation: wiggle 0.7s 120ms;
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
